### Predict the marks obtained based on the Number of hours studied and the number of hours slept

### 1.Import Pandas for data processing

In [2]:
import pandas as pd

### 2.Read the CSV file

In [4]:
boston=pd.read_csv(r'Boston.csv')
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

### 3.Split into X (Independent) and Y (predicted)

In [7]:
import numpy as np
X=pd.DataFrame(np.c_[boston['age'],boston['lstat']],columns=['Age','Lstat'])
Y=boston['medv']

In [8]:
#view X
X

      Age  Lstat
0    65.2   4.98
1    78.9   9.14
2    61.1   4.03
3    45.8   2.94
4    54.2   5.33
..    ...    ...
501  69.1   9.67
502  76.7   9.08
503  91.0   5.64
504  89.3   6.48
505  80.8   7.88

[506 rows x 2 columns]

In [9]:
#view Y
Y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

### 4.Split train and test data with 30% test size

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=1234)

### 5.Train the Multiple Linear Regression

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
std_reg=LinearRegression()

### 6.Provide the training Data

In [12]:
std_reg.fit(x_train,y_train)

LinearRegression()

### 7.Predict the results

In [13]:
y_predict=std_reg.predict(x_test)
y_predict

array([26.8024864 , 25.86370323,  9.2018535 , 24.16186521, 17.01103504,
       26.96662254, 19.44585906, 17.73193188, 24.07958333, 27.78133567,
       17.59769891, 24.16121029, 23.28365889, 20.65652533, 25.1316919 ,
       28.704782  , 12.06470665, 17.22163242, 20.46273644,  5.44470979,
       29.42974324, 26.23685337, 20.91189658, 16.61834112, 26.57610143,
       25.40533174, 23.90771522, 24.94947209, 28.42611849, 18.1564976 ,
       22.1371523 , 18.31132992, 23.4270223 , 16.27646564, 26.65340587,
       16.07683635, 24.50808632, 22.18547046,  3.85739916,  9.11135421,
        8.3094083 , 23.49407136, 31.12206171, 27.53028694, 19.99554656,
       24.9937143 , 28.84758294, 31.47379575, 16.95312027, 26.07253617,
       25.43291186, 27.5354493 , 29.97362116, 26.23633328, 31.79863543,
       30.45439498, 12.92949084, 29.11602575, 29.82529957, 24.26092092,
       31.89716334, 17.67364342, 25.16993576, 31.23215485, 16.00653962,
       25.9900501 , 27.39636988, 21.8532956 , 31.81612197, 31.02477045,
       19.5367436 , 27.85889823, 10.97715885, 17.78202605, 27.05085379,
       18.66902765, 30.63698848, 28.44035736, 10.4793762 , 14.52611684,
       32.18242235, 29.54833116, 26.97982123, 17.38696669, 25.47961197,
       12.57541447, 27.28134553, 30.19237045, 26.64201786, 24.93652381,
       19.00655749, 17.73465945, 26.94343044, 14.19631898, 14.33214688,
       30.01312478, 18.06475395, 28.53592655, 29.53225079, 27.12472564,
       20.0609429 , 25.05188719, 14.25019246, 22.27044525, 18.23008822,
       32.14379325, 15.55555725, 12.15504798, 29.93615936, 23.77385595,
        9.51658805, 29.59675334, 20.3931871 , 26.21636573,  7.55315313,
       25.51530931, 29.00603663, 27.82762741,  1.68756609, 30.90984627,
       22.46688466, 16.72947444, 21.71257502, 29.23593123, 23.20391966,
       30.21458787, 26.34069774, 24.81289681, 19.79429921, 23.43400689,
       17.75416085, 24.30147243, 20.82358167,  7.71669983, 21.58944499,
        1.33348972, 19.38137962, 28.60489801, 14.66053087, 24.35629748,
       19.87538296, 16.99153364, 25.90892012, 22.07048849, 28.50750659,
       26.94271772, 26.18720994, 26.14964413, 27.13258091,  5.22907717,
       23.40516701, 25.90532188])

### 8.Get the R-Squared

In [14]:
R_Squared=std_reg.score(x_test,y_test)
R_Squared

0.5739483128577523

### 9.Coefficient and Intercept

In [15]:
mlr_coefficient=std_reg.coef_
mlr_intercept=std_reg.intercept_

In [16]:
#view mlr_coefficient 
mlr_coefficient

array([ 0.02003305, -0.98354547])

In [17]:
#view mlr_intercept 
mlr_intercept

33.52806126090938

### 10.Calculate the errors using RMSE

In [18]:
import math
mlr_rmse=math.sqrt(mean_squared_error(y_test,y_predict))
mlr_rmse

6.266851427774054